.CounterCard {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    outline: 2px solid black;
}

.w100 {
    width: 100%;
}

.shareText {
    cursor: pointer;
    text-decoration: underline;
}

.btn {
    align-self: end;
}

.shareError {
    color: red !important;
    margin-top: 20px !important;
}

.headerOverflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}