.CounterCard {
	outline: 2px solid black;
	padding: 10px;
	width: 100%;
	border-radius: 10px;
}

.w100 {
	width: 100%;
}

.shareText {
	text-decoration: underline;
	cursor: pointer;
}

.btn {
	align-self: end;
}

.shareError {
	margin-top: 20px !important;
	color: red !important;
}
