.divider {
    margin: 20px 0;

    &:last-child {
        margin-bottom: 0;
    }
}

.vert_divider {
    margin: 0 20px;
    display: block;
    align-self: stretch;
}

.todo {
    align-self: start;
}

.done {
    text-decoration: line-through;
}

.link {
    font-size: 16px;
    text-decoration: underline !important;
    font-style: italic;
}

.CounterGrid {
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    background: rgba(0 0 0 / 10%);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.CounterList {
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    background: rgba(0 0 0 / 10%);
}