.AuthPage {

}

.form {
    width: 50%;
    padding: 20px;
    border-radius: 10px;
    margin-top: 50px;
    outline: 2px solid var(--secondary-color);
}

@media (width <= 1000px) {
    .form {
        width: 70%;
    }

}


@media (width <= 700px) {
    .form {
        width: 100%;
    }

}

.btn {
    align-self: end;
}

.passwordError {
    color: red !important;
}

.w100 {
    width: 100%;
}
